.modalContainer {
  height: 100vh;
  width: 1139px;
  background-color: rgb(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
}

.modalContainer div {
  position: absolute;
  right: 30px;
  top: 30px;
}

.modalContainer h1 {
  font-size: 32px;
  color: #eeeeee;
  font-family: "Open Sans";
  position: absolute;
  bottom: 0px;
  top: 731px;
  left: 503px;
  font-weight: 300;
}
