@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap");
* {
  box-sizing: border-box;
  margin: 0px;
}

body {
  padding: 0 15px 0 15px;
}

.fa-star {
  stroke: black;
  stroke-width: 10;
}

.fa-user {
  stroke: white;
  stroke-width: 35;
}
